@import "listItem";

.home-bid-info {
	background-color: white;
  border-radius: 10px;
  height:100%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
}

.home-bid-info-title{
	display: flex;
	margin-left: 5%;
	width: 90%;
  height: 12%;
  margin-top: 2%;
	align-items: center;
	color: rgb(80,80,80);
}

// 1750 < size
@media all and (min-width: 1750px) {
  .home-bid-info-title{
    font-size:22px;
  }
}

@media all and (min-width: 1750px) and (max-device-height: 1000px){
  .home-bid-info-title{
    font-size:18px;
  }
}

@media all and (min-width: 1750px) and (max-device-height: 920px){
  .home-bid-info-title{
    font-size:16px;
  }
}


// 1620 < size <= 1750
@media all and (min-width: 1620px) and (max-width: 1750px) {
  .home-bid-info-title{
    font-size:24px;
  }
}

@media all and (min-width: 1620px) and (max-width: 1750px) and (max-device-height: 1000px){
  .home-bid-info-title{
    font-size:18px;
  }
}

@media all and (min-width: 1620px) and (max-width: 1750px) and (max-device-height: 900px){
  .home-bid-info-title{
    font-size:16px;
  }
}

// 1450 < size <= 1620
@media all and (min-width: 1450px) and (max-width: 1620px) {
  .home-bid-info-title{
    font-size:24px;
  }
}

@media all and (min-width: 1450px) and (max-width: 1620px) and (max-device-height: 1000px){
  .home-bid-info-title{
    font-size:18px;
  }
}

@media all and (min-width: 1450px) and (max-width: 1620px) and (max-device-height: 850px){
  .home-bid-info-title{
    font-size:18px;
  }
}

// 1320 < size <= 1450
@media all and (min-width: 1320px) and (max-width: 1450px) {
  .home-bid-info-title{
    font-size:22px;
  }
}

@media all and (min-width: 1320px) and (max-width: 1450px) and (max-device-height: 1000px){
  .home-bid-info-title{
    font-size:18px;
  }
}

@media all and (min-width: 1320px) and (max-width: 1450px) and (max-device-height: 900px){
  .home-bid-info-title{
    font-size:16px;
  }
}

// 1100 < size <= 1320
@media all and (min-width: 1100px) and (max-width: 1320px) {
  .home-bid-info-title{
    font-size:18px;
  }
}

@media all and (min-width: 1100px) and (max-width: 1320px) and (max-device-height: 1000px){
  .home-bid-info-title{
    font-size:18px;
  }
}

// 950 < size <= 1110
@media all and (min-width: 950px) and (max-width: 1100px) {
  .home-bid-info-title{
    font-size:16px;
  }
}

@media all and (min-width: 950px) and (max-width: 1100px) and (max-device-height: 1000px){
  .home-bid-info-title{
    font-size:16px;
  }
}

@media all and (min-width: 860px) and (max-width: 950px) {
  .home-bid-info-title{
    font-size:18px;
  }
}

@media all and (min-width: 860px) and (max-width: 950px) and (max-device-height: 800px){
  .home-bid-info-title{
    font-size:16px;
  }
}

@media all and (min-width: 800px) and (max-width: 860px) {
  .home-bid-info-title{
    font-size:16px;
  }
}

@media all and (min-width: 800px) and (max-width: 860px) and (max-device-height: 800px){
  .home-bid-info-title{
    font-size:14px;
  }
}

@media all and (min-width: 720px) and (max-width: 800px) {
  .home-bid-info-title{
    font-size:16px;
  }
}

@media all and (min-width: 720px) and (max-width: 800px) and (max-device-height: 700px){
  .home-bid-info-title{
    font-size:16px;
  }
}

// 650 < size <= 720px
@media all and (min-width: 650px) and (max-width: 720px) {
  .home-bid-info-title{
    font-size:17px;
  }
}

@media all and (min-width: 650px) and (max-width: 720px) and (max-device-height: 850px){
  .home-bid-info-title{
    font-size:17px;
  }
}


// 600 < size <= 650px
@media all and (min-width: 600px) and (max-width: 650px) {
  .home-bid-info-title{
    font-size:17px;
  }
}

@media all and (min-width: 600px) and (max-width: 650px) and (max-device-height: 850px){
  .home-bid-info-title{
    font-size:17px;
  }
}

// 530 < size <= 600px
@media all and (min-width: 530px) and (max-width: 600px) {
  .home-bid-info-title{
    font-size:17px;
  }
}

@media all and (min-width: 530px) and (max-width: 600px) and (max-device-height: 800px){
  .home-bid-info-title{
    font-size:16px;
  }
}

// 460 < size <= 530px
@media all and (min-width: 460px) and (max-width: 530px) {
  .home-bid-info-title{
    font-size:17px;
  }
}

@media all and (min-width: 460px) and (max-width: 530px) and (max-device-height: 750px){
  .home-bid-info-title{
    font-size:14px;
  }
}

// 380 < size <= 460px
@media all and (min-width: 380px) and (max-width: 460px) {
  .home-bid-info-title{
    font-size:14px;
  }
}

@media all and (min-width: 380px) and (max-width: 460px) and (max-device-height: 800px){
  .home-bid-info-title{
    font-size:14px;
  }
}

// 320 < size <= 380px
@media all and (min-width: 320px) and (max-width: 380px) {
  .home-bid-info-title{
    font-size:12px;
  }
}

// size <= 320px
@media all and (max-width: 320px) {
  .home-bid-info-title{
    font-size:12px;
  }
}

@media all and (max-width: 380px) and (max-device-height: 700px){
  .home-bid-info-title{
    font-size:12px;
  }
}
