.home-canvas {
	width: 100%;
	height: 100%;
	background-color: #fff;
	object-fit: contain;
	border-radius: 10px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

// 1280 < size
@media all and (min-width: 1280px) {
	.home-canvas {
		grid-area: 2 / 1 / 3 / 3;
	}
}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
	.home-canvas {
		grid-area: 2 / 1 / 3 / 3;
	}
}

// 320 < size <= 720px - horizen layout
@media all and (min-width: 320px) and (max-width: 720px) {
	.home-canvas {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}
}

// size <= 320px
@media all and (max-width: 320px) {
	.home-canvas {
		grid-row: 3 / 4;
	}
}
