.home-bid-info-listContainer{
  display: flex;
  height: 17%;
  align-items: center;
  width: 100%;
}

.home-bid-info-listContent-button{
  display: none;
}

.home-bid-info-listContent-date{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.home-bid-info-listContent-time{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.home-bid-info-listContent-success{
  color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.home-bid-info-listContent-failed{
  color: #d32f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.home-bid-info-listContent-number{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26%;
}

.home-bid-info-listContent-number-nextline{
  display: none;
}

.home-bid-info-listContent-price{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24%;
}

.home-bid-info-listContent-price-nextline{
  display: none;
}

// 720 < size <= 1110
@media all and (min-width: 720px) and (max-width: 1100px) {
  .home-bid-info-listContainer{
    flex-wrap: wrap;
    height: 15%;
  }
  .home-bid-info-listContent-button{
    width: 10%;
    display: block;
    border: none;
    outline:none;
    background-color: white;
    color: orange;
    cursor: pointer;
  }
  .home-bid-info-listContent-date{
    width: 30%;
  } 
  .home-bid-info-listContent-time{
    width: 30%;
  }
  .home-bid-info-listContent-success{
    width: 15%;
    margin-right: 15%;
  }
  .home-bid-info-listContent-failed{
    width: 15%;
    margin-right: 15%;
  }
  .home-bid-info-listContent-number{
    display: none;
  }
  .home-bid-info-listContent-number-nextline{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 10%;
    margin-top: -3%;
  }
  .home-bid-info-listContent-price{
    display: none;
  }
  .home-bid-info-listContent-price-nextline{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 10%;
    margin-top: -3%;
  }
}

@media all and (min-width: 720px) and (max-width: 950px) {
  .home-bid-info-listContent-number-nextline{
    width: 50%;
    margin-top: -3%;
  }
  .home-bid-info-listContent-price-nextline{
    width: 50%;
    margin-top: -3%;
  }
}

// 650 < size <= 720px
@media all and (min-width: 650px) and (max-width: 720px) {
  .home-bid-info-listContainer{
    height: 16%;
  }
}

// 600 < size <= 650px
@media all and (min-width: 600px) and (max-width: 650px) {
  .home-bid-info-listContainer{
    height: 16%;
  }
}

// 530 < size <= 600px
@media all and (min-width: 530px) and (max-width: 600px) {
  .home-bid-info-listContainer{
    height: 20%;
  }
}

// 460 < size <= 530px
@media all and (min-width: 460px) and (max-width: 530px) {
  .home-bid-info-listContainer{
    height: 20%;
  }
}

// size <= 460px
@media all and (max-width: 460px) {
  .home-bid-info-listContainer{
    height: 23%;
    flex-wrap: wrap;
  }
  .home-bid-info-listContent-button{
    width: 10%;
    display: block;
    border: none;
    outline:none;
    background-color: white;
    color: orange;
    cursor: pointer;
  }
  .home-bid-info-listContent-date{
    width: 35%;
  } 
  .home-bid-info-listContent-time{
    width: 35%;
  }
  .home-bid-info-listContent-success{
    width: 15%;
    margin-right: 5%;
  }
  .home-bid-info-listContent-failed{
    width: 15%;
    margin-right: 5%;
  }
  .home-bid-info-listContent-number{
    display: none;
  }
  .home-bid-info-listContent-number-nextline{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: 10%;
  }
  .home-bid-info-listContent-price{
    display: none;
  }
  .home-bid-info-listContent-price-nextline{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    margin-right: 10%;
  }
}
