.home-time-info {
	background-color: white;
	border-radius: 10px;
}

.home-time-info-title{
	margin-left: 5%;
	height: 30%;
	display: flex;
	align-items: center;
	color: rgb(112,112,112);
	font-weight: bold;;
}

.home-time-info-timeContainer{
	display: flex;
	height: 40%;
	align-items: center;
	justify-content: center;
	width: 97%;
	margin-right: 3%;
}

.home-time-info-timeIcon{
	margin-right: 2%;
}

.home-time-info-timeContent{
	width: auto;
	color: rgb(255,160,0);
}

.home-time-info-priceContainer{
	display: flex;
	height: 30%;
	width: 94%;
	margin-left: 6%;
	align-items: center;
	justify-content: center;
}

.home-time-info-buy{
	color: #d32f2f;
}

.home-time-info-sell{
	color: #2e7d32;
	margin-left: 2%;
}

.home-time-info-content{
	width: auto;
	margin-right: 1.5%;
	margin-left: 1.5%;
	color: rgb(60,60,60);
}

// 1450 < size
@media all and (min-width: 1450px) {
	.home-time-info-title{
		font-size: 24px;
	}
	.home-time-info-timeContent{
		font-size: 56px;
	}
	.home-time-info-timeIcon{
		width: 40px;
		height: 40px;
	}
	.home-time-info-buy{
		font-size: 32px;
	}
	.home-time-info-sell{
		font-size: 32px;
	}
	.home-time-info-content{
		font-size: 28px;
	}
}

// 1320 < size <= 1450
@media all and (min-width: 1320px) and (max-width: 1450px) {
  .home-time-info-title{
		font-size: 20px;
	}
	.home-time-info-timeContent{
		font-size: 46px;
	}
	.home-time-info-timeIcon{
		width: 36px;
		height: 36px;
	}
	.home-time-info-buy{
		font-size: 28px;
	}
	.home-time-info-sell{
		font-size: 28px;
	}
	.home-time-info-content{
		font-size: 24px;
	}
}

// 1100 < size <= 1320
@media all and (min-width: 1100px) and (max-width: 1320px) {
  .home-time-info-title{
		font-size: 20px;
	}
	.home-time-info-timeContent{
		font-size: 38px;
	}
	.home-time-info-timeIcon{
		width: 32px;
		height: 32px;
	}
	.home-time-info-buy{
		font-size: 24px;
	}
	.home-time-info-sell{
		font-size: 24px;
	}
	.home-time-info-content{
		font-size: 22px;
	}
}

// 1280 < size
// @media all and (min-width: 1280px) {}

// 720 < size <= 1280
// @media all and (min-width: 720px) and (max-width: 1280px) {}

// 320 < size <= 720px - horizen layout
// @media all and (min-width: 320px) and (max-width: 720px) {}

// size <= 320px
// @media all and (max-width: 320px) {}
