@import './status/';
@import './submit/';
@import './graph/';

.drbid-container {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}

.drbid-a1 {
  flex-basis: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.drbid-dr-date {
  margin-left: 3.5%;
  width: 150px;
  height: 65%;
  text-align: center;
  outline: 0;
  border-radius: 5px;
  color: #707070;
  display: flex;
  align-items: flex-end;
}

.drbid-a2 {
  flex-basis: 30%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.drbid-a3 {
  flex-basis: 70%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.drbid-a2-b1 {
  flex-basis: 100%;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
}

.drbid-a2-b2 {
  flex-basis: 100%;
  height: 65%;
}

// 1920 < size
@media all and (min-width: 1920px) {

}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {

}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {

}

// 320 < size <= 720
@media all and (min-width: 320px) and (max-width: 720px) {
  .drbid-a1 {
    flex-basis: 100%;
    height: 10%;
  }

  .drbid-dr-date {
    width: 150px;
  }

  .drbid-a2 {
    flex-basis: 100%;
    height: 40%;
  }

  .drbid-a3 {
    flex-basis: 100%;
    height: 65%;
  }

  .drbid-a2-b1 {
    flex-basis: 40%;
    height: 100%;
  }

  .drbid-a2-b2 {
    flex-basis: 60%;
    height: 100%;
  }

  .drbid-a2-b1-c1 {
    flex-basis: 100%;
    height: 50%;;
  }

  .drbid-a2-b1-c2 {
    flex-basis: 100%;
    height: 50%;;
  }
}

// size <= 320
@media all and (max-width: 320px) {
  .drbid-container {
    height: 90%;
  }

  .drbid-a1 {
    flex-basis: 100%;
    height: 12%;
    justify-content: center;
    padding: 0%;
    flex-direction: column-reverse;
  }

  .drbid-dr-date {
    padding-left: 40%;
    padding-right: 0%;
    margin: 0;
    height: 40%;
    width: 90%;
    font-size: 1.5vh;
    color: white;
    justify-content: flex-start;
  }

  .drbid-a2 {
    flex-basis: 100%;
    height: 48%;
  }

  .drbid-a3 {
    flex-basis: 100%;
    height: 40%;
  }

  .drbid-a2-b1 {
    flex-basis: 100%;
    height: 33%;
  }

  .drbid-a2-b2 {
    flex-basis: 100%;
    height: 67%;
  }

  .drbid-a2-b1-c1 {
    flex-basis: 30%;
    height: 100%;
  }

  .drbid-a2-b1-c2 {
    flex-basis: 70%;
    height: 100%;
  }
}