@import './trainBox.scss/';

.status-train{
  height:100%;
  width: 75%;
}

.status-train-train{
  height:40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.status-train-chain{
  height:10%;
  width: 5%;
  background-color: #39625e;
}

.status-train-info{
  height:60%;
  width: 100%;
}

.status-train-infoBox{
  height:25%;
  width: 100%;
  display: flex;
  color: #4b4b4b;
}

.status-train-code{
  height:100%;
  width: 70%;
  display: flex;
  align-items: center;
}

.status-train-time{
  height:100%;
  width: 30%;
  display: flex;
  align-items: center;
}

.status-train-object{
  height:100%;
  width: 45%;
  display: flex;
  align-items: center;
}

.status-train-address{
  height:100%;
  width: 55%;
  display: flex;
  align-items: center;
}

.status-train-number{
  height:100%;
  width: 27.5%;
  display: flex;
  align-items: center;
}

.status-train-getNumber{
  height:100%;
  width: 27.5%;
  display: flex;
  align-items: center;
}

.status-train-price{
  height:100%;
  width: 22.5%;
  display: flex;
  align-items: center;
}

.status-train-getPrice{
  height:100%;
  width: 22.5%;
  display: flex;
  align-items: center;
}

.status-train-CBL{
  height:100%;
  width: 45%;
  display: flex;
  align-items: center;
}

.status-train-winVolume{
  height:100%;
  width: 55%;
  display: flex;
  align-items: center;
}

// size < 1700
@media all and (min-width: 1700px) {
	.status-train-chain{
    width: 3%;
  }
  .status-train-infoBox{
    font-size: 1.05vw;
  }
}

// 1280 < size < 1700
@media all and (min-width: 1280px) and (max-width: 1700px) {
	.status-train-chain{
    width: 2%;
  }
  .status-train-infoBox{
    font-size: 1.05vw;
  }
}

// 900 < size < 1280
@media all and (min-width: 900px) and (max-width: 1280px) {
	.status-train-chain{
    width: 2%;
  }
  .status-train-infoBox{
    font-size: 1.2vw;
  }
}

// 720 < size < 900
@media all and (min-width: 720px) and (max-width: 900px) {
	.status-train-chain{
    width: 2%;
  }
  .status-train-infoBox{
    font-size: 1.15vw;
  }
}

// 320 < size < 720
@media all and (min-width: 320px) and (max-width: 720px) {
	.status-train-chain{
    width: 2%;
  }
  .status-train-infoBox{
    font-size: 1.4vw;
  }
}

// size < 320
@media all and (max-width: 320px) {
  .status-train{
    display: none;
  }
}