.status-train-trainBox-outline{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.status-train-trainBox-outline-orange{
  background-color: #ffa000;
}

.status-train-trainBox-outline-red{
  background-color: #D32F2F;
}

.status-train-trainBox-outline-white{
  background-color: #ebebeb;
}

.status-train-trainBox-content{
  background-color: white;
  width:80%;
  height: 80%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
}

// size < 1700
@media all and (min-width: 1700px) {
  .status-train-trainBox-outline{ 
    width:12vh;
    height: 90%;
  }
  .status-train-trainBox-content{
    font-size: 1vw;
  }
}

@media all and (min-width: 1700px) and (max-height:1100px){
  .status-train-trainBox-content{
    font-size: 1vw;
  }
}

// 1500 < size < 1700
@media all and (min-width: 1500px) and (max-width: 1700px) {
  .status-train-trainBox-outline{
    width:12.5vh;
    height: 87%;
  }
  .status-train-trainBox-content{
    font-size: 1vw;
  }
}

// 1280 < size < 1500
@media all and (min-width: 1280px) and (max-width: 1500px) {
  .status-train-trainBox-outline{
    width:12.5vh;
    height: 75%;
  }
  .status-train-trainBox-content{
    font-size: 1.3vw;
  }
}

@media all and (min-width: 1280px) and (max-width: 1500px) and (max-height:850px){
  .status-train-trainBox-outline{
    width:14vh;
    height: 100%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1700px) and (max-height:1000px){
  .status-train-trainBox-content{
    font-size: 1vw;
  }
}

// 1000 < size < 1280
@media all and (min-width: 1000px) and (max-width: 1280px) {
  .status-train-trainBox-outline{
    width:10vh;
    height: 72%;
  }
  .status-train-trainBox-content{
    font-size: 1.1vw;
  }
}

@media all and (min-width: 1000px) and (max-width: 1280px) and (max-height:900px){
  .status-train-trainBox-outline{
    width:12vh;
    height: 90%;
  }
  .status-train-trainBox-content{
    font-size: 1vw;
  }
}

// 720 < size < 1000
@media all and (min-width: 720px) and (max-width: 1000px) {
  .status-train-trainBox-outline{
    width:7.2vh;
    height: 50%;
  }
  .status-train-trainBox-content{
    font-size: 1.2vw;
  }
}

@media all and (min-width: 720px) and (max-width: 1000px) and (min-height:800px) and (max-height:1000px){
  .status-train-trainBox-outline{
    width:9.1vh;
    height: 65%;
  }
}

@media all and (min-width: 720px) and (max-width: 1000px) and (max-height:800px){
  .status-train-trainBox-outline{
    width:11.5vh;
    height: 80%;
  }
}

// 600 < size < 720
@media all and (min-width: 600px) and (max-width: 720px) {
  .status-train-trainBox-outline{
    width:7.8vh;
    height: 65%;
  }
  .status-train-trainBox-content{
    font-size: 1.5vw;
  }
}

@media all and (min-width: 600px) and (max-width: 720px) and (max-height:850px){
  .status-train-trainBox-outline{
    width:11vh;
    height: 90%;
  }
  .status-train-trainBox-content{
    font-size: 1.4vw;
  }
}

// 320 < size < 600
@media all and (min-width: 320px) and (max-width: 600px) {
  .status-train-trainBox-outline{
    width:7.2vh;
    height: 52.5%;
  }
  .status-train-trainBox-content{
    font-size: 1.8vw;
  }
}

@media all and (min-width: 320px) and (max-width: 600px) and (min-height:650px) and (max-height:850px){
  .status-train-trainBox-outline{
    width:9vh;
    height: 55%;
  }
  .status-train-trainBox-content{
    font-size: 1.5vw;
  }
}

@media all and (min-width: 320px) and (max-width: 600px) and (max-height:650px){
  .status-train-trainBox-outline{
    width:10vh;
    height: 70%;
  }
}