.status-train-trainBox-outline{
  background-color: #ffa000;
  height: 80%;
  width:12%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.status-train-trainBox-content{
  background-color: white;
  height: 80%;
  width:80%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #494949;
}