.bidding-status-participants-container-in {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  // border: #707070 solid 1px;
}

.bidding-status-participants-image-container {
  flex-basis: 50%;
  height: 40%;
  // display: flex;
  // flex-wrap: wrap;
  // border: blue solid 1px;
}

.bidding-status-participants-image-img {
  // flex-basis: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  // border: blue solid 1px;
}

.bidding-status-participants-text-container {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #707070;
  // border: red solid 1px;
}

.bidding-status-participants-text-value {
  flex-basis: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  // font-size: 36px;
  // border: red solid 1px;
}

.bidding-status-participants-text-title {
  flex-basis: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // font-size: 12px;
  text-align: center;
  // border: red solid 1px;
}

// 1920 < size
@media all and (min-width: 1920px) {
  .bidding-status-participants-text-value {
    font-size: 40px;
  }
  .bidding-status-participants-text-title {
    font-size: 16px;
  }
}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bidding-status-participants-text-value {
    font-size: 36px;
  }
  .bidding-status-participants-text-title {
    font-size: 12px;
  }
}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
  .bidding-status-participants-text-value {
    font-size: 30px;
  }
  .bidding-status-participants-text-title {
    font-size: 12px;
  }
}

// 320 < size <= 720
@media all and (min-width: 321px) and (max-width: 720px) {
  .bidding-status-participants-image-container {
    flex-basis: 40%;
  }
  .bidding-status-participants-text-container {
    flex-basis: 60%;
  }
  .bidding-status-participants-text-value {
    height: 60%;
    font-size: 30px;
  }
  .bidding-status-participants-text-title {
    height: 40%;
    font-size: 12px;
  }
}

// size <= 320
@media all and (max-width: 320px) {
  .bidding-status-participants-image-container {
    flex-basis: 0%;
  }
  .bidding-status-participants-text-container {
    flex-basis: 100%;
  }
  .bidding-status-participants-text-value {
    font-size: 24px;
    // border: black solid 1px;
  }
  .bidding-status-participants-text-title {
    font-size: 12px;
    // border: black solid 1px;
  }
  .bidding-status-participants-container-in {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}