.powerinfo-mode-container {
  display: flex;
  width: 100%;
  height: 100%;
  // border: red solid 2px;
}

.powerinfo-mode-button-load {
  cursor: pointer;
  width: 100%;
  background-color: white;
  color: #707070;
  border: #d8d8d8 solid 0.5px;
  border-right: 0.25px;
  outline: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.powerinfo-mode-button-load:active {
  background-color: #e8e8e8;
}

.powerinfo-mode-button-load:disabled {
  cursor: default;
  background-color: #ffa000;
  color: white;
}

.powerinfo-mode-button-equip {
  cursor: pointer;
  width: 100%;
  color: #707070;
  background-color: white;
  border: #d8d8d8 solid 0.5px;
  border-left: 0.25px;
  outline: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.powerinfo-mode-button-equip:disabled {
  cursor: default;
  background-color: #ffa000;
  color: white;
}

.powerinfo-mode-button-equip:active {
  background-color: #e8e8e8;
}

// 1920 < size
@media all and (min-width: 1920px) {
// ignore
}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {

}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {

}

// 320 < size <= 720
@media all and (min-width: 320px) and (max-width: 720px) {

}

// size <= 320
@media all and (max-width: 320px) {

}