@import './pageButton.scss/';
@import './content.scss/';

.status-list{
  background-color: white;
}

.status-list-select{
  display: none;
}

.status-list-option{
  display: none;
}

.status-list-buttonContainer{
  width: 100%;
  height: 10%;
  display: flex;
}

.status-list-titleContainer{
  width: 100%;
  height: 10%;
  display: flex;
  font-weight: bold;
  color: #585858;
}

.status-list-contentContainer{
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.status-list-nextPageContainer{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-list-rowSelector{
  outline: none ;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f2f1;
  color: #797979;
}
.status-list-rowSelector:focus{
  outline: none ;
  border: 1px solid #c5c5c5;
}

.status-list-nextPageButton{
  cursor: pointer;
  background-color: #f1f2f1;
  color: #707070;
  border: 0.5px solid #505050;
  outline: none;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
  text-align: start;
}
.status-list-nextPageButton:focus{
  border: 0.5px solid #505050;
  outline: none;
}

.status-list-nextPageText{
  color: #646464;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.status-list-titleType{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5%;
}

.status-list-titleMode{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
}

.status-list-titleType320{
  display: none;
}

.status-list-titleStatus{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.status-list-titleSchedule{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
}

.status-list-titleDate{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5%;
  margin-right: 0.5%;
}

.status-list-titleTime{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
}

.status-list-titlePrice{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5%;
}

.status-list-titleURL{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
}

@media all and (min-width: 1500px){
  .status-list{
    height:60%;
    width: 80%;
  }
  .status-list-titleContainer{
    font-size: 1.3vw;
  }
  .status-list-titleType{
    margin-left: 6.5%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1500px){
  .status-list{
    height:60%;
    width: 80%;
  }
  .status-list-titleContainer{
    font-size: 1.3vw;
  }
  .status-list-titleType{
    margin-left: 6.5%;
  }
}

// 900 < size < 1280
@media all and (min-width: 900px) and (max-width: 1280px){
  .status-list{
    height:60%;
    width: 95%;
  }
  .status-list-titleContainer{
    font-size: 1.7vw;
  }
  .status-list-titleType{
    margin-left: 6.7%;
  }
}

// 720 < size < 900
@media all and (min-width: 720px) and (max-width: 900px){
  .status-list{
    height:60%;
    width: 95%;
  }
  .status-list-titleContainer{
    font-size: 1.5vw;
  }
  .status-list-titleType{
    margin-left: 7%;
  }
  .status-list-titleSchedule{
    margin-left: 1%;
    margin-right: 0%;
  }
}

// 500 < size < 720
@media all and (min-width: 500px)  and (max-width: 720px){
  .status-list{
    height:65%;
    width: 98%;
  }
  .status-list-titleContainer{
    font-size: 2.1vw;
  }
  .status-list-titleType{
    margin-left: 7.3%;
  }
  .status-list-nextPageText{
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.7rem;
  }
}

// 320 < size < 500
@media all and (min-width: 320px) and (max-width: 500px){
  .status-list{
    height:65%;
    width: 98%;
  }
  .status-list-titleContainer{
    font-size: 2vw;
  }
  .status-list-titleType{
    margin-left: 6.5%;
  }
  .status-list-titleSchedule{
    margin-left: 0.5%;
    margin-right: 0%;
  }
  .status-list-nextPageText{
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.6rem;
  }
}

// size < 320
@media all and (max-width: 320px){
  .status-list{
    height:100%;
    width: 92.5%;
    border-radius: 2%;
  }
  .status-list-select{
    display: block;
    position: fixed;
    width: 80px;
    height: 25px;
    top: 55px;
    right: 15px;
    font-size: 5vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(190, 190, 190);
    outline: none;
  }
  .status-list-select:focus{
    border: 1px solid rgb(190, 190, 190);
  }
  .status-list-buttonContainer{
    display: none;
  }
  .status-list-titleContainer{
    width: 100%;
    height: 10%;
    justify-content: center;
  }
  .status-list-contentContainer{
    height: 87.5%;
    margin-bottom: 2.5%;
  }
  .status-list-titleType{
    display: none;
  }
  .status-list-titleType320{
    width: 20%;
    font-size: 4.5vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status-list-titleStatus{
    width: 17.5%;
    font-size: 4.5vw;
  }
  .status-list-titleMode{
    width: 12.5%;
    font-size: 4.5vw;
  }
  .status-list-titleSchedule{
    display: none;
  }
  .status-list-titleDate{
    width: 27%;
    margin-left: 0%;
    margin-right: 3%;
    font-size: 4.5vw;
    margin-right: 23%;
  }
  .status-list-titleTime{
    display: none;
  }
  .status-list-titlePrice{
    display: none;
  }
  .status-list-titleURL{
    display: none;
  }
  .status-list-nextPageContainer{
    height: 8%;
  }
  .status-list-nextPageButton{
    font-size: 0.5rem;
  }
  .status-list-rowSelector{
    font-size: 0.5rem;
    margin-left: 4%;
    margin-right: 4%;
  }
  .status-list-nextPageText{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.75rem;
  }
}

@media all and (max-width: 320px) and (max-height: 650px){
  .status-list{
    height:100%;
  }
}