.status-list-pageButton-button{
  border:1px #c0c0c0 solid;
  width: 25%;
  height: 100%;
  border-radius: 2%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #474747;
  cursor: pointer;
}

.status-list-pageButton-button:hover{
  background-color: #ffa200;
  color: white;
}

.status-list-pageButton-button--click{
  background-color: #ffa200;
  color: white;
  border: 1px solid #9e9e9e;
  outline: none;
}