.setting-left--imgcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 100%;
  margin-top: 10%;
}

.setting-left--img{
  margin-bottom: 2%;
}

.setting-left--imgtext{
  color: rgb(112,112,112);
  vertical-align: middle;
}

// 1500 < size
@media all and (min-width: 1500px) {
  .setting-left--img{
    height: 200px;
    width: 200px;
  }
  .setting-left--imgtext{
    font-size: 20px;
  }
}

// 1300 < size <= 1500
@media all and (min-width: 1300px) and (max-width: 1500px) {
  .setting-left--img{
    height: 175px;
    width: 175px;
  }
  .setting-left--imgtext{
    font-size: 18px;
  }
}

// 1100 < size <= 1300
@media all and (min-width: 1100px) and (max-width: 1300px) {
  .setting-left--img{
    height: 135px;
    width: 135px;
  }
  .setting-left--imgtext{
    font-size: 14px;
  }
}

// 950 < size <= 1100
@media all and (min-width: 950px) and (max-width: 1100px) {
  .setting-left--img{
    height: 130px;
    width: 130px;
  }
  .setting-left--imgtext{
    font-size: 12px;
  }
}

// 550 < size <= 950
@media all and (min-width: 550px) and (max-width: 950px) {
  .setting-left--img{
    height: 130px;
    width: 130px;
  }
  .setting-left--imgtext{
    font-size: 14px;
  }
  .setting-left--imgcontainer{
    width: 35%;
    height: 100%;
    margin-top: 3%;
  }
}

// 450 < size <= 550
@media all and (min-width: 450px) and (max-width: 550px) {
  .setting-left--img{
    height: 105px;
    width: 105px;
  }
  .setting-left--imgtext{
    font-size: 12px;
  }
  .setting-left--imgcontainer{
    width: 35%;
    height: 100%;
    margin-top: 3%;
  }
}

// size <= 320 for phone
@media all and (max-width: 320px) and (max-device-height: 600px) {
  
}