@import './img.scss/';
@import './content.scss/';

.setting-left--container{
    text-align: center;
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    margin-top: 10%;
}