.status-percentage{
  height:100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-percentage-img{
  height: auto;
}

.status-percentage-title{
  width:100%;
  height:13%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686868;
  font-weight: bold;
}

.status-percentage-percentage{
  width:100%;
  height:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686868;
}

// 1600 < size
@media all and (min-width: 1600px){
  .status-percentage-img{
    width: 40%;
  }
  .status-percentage-title{
    font-size: 1.6vw;
  }
  .status-percentage-percentage{
    font-size: 3vw;
  }
}

// 1280 < size < 1600
@media all and (min-width: 1280px) and (max-width: 1600px){
  .status-percentage-img{
    width: 55%;
  }
  .status-percentage-title{
    font-size: 1.7vw;
  }
  .status-percentage-percentage{
    font-size: 3vw;
  }
}

// 900 < size < 1280
@media all and (min-width: 900px) and (max-width: 1280px){
  .status-percentage-img{
    width: 55%;
  }
  .status-percentage-title{
    font-size: 2vw;
  }
  .status-percentage-percentage{
    font-size: 3.8vw;
  }
}

// 720 < size < 900
@media all and (min-width: 720px) and (max-width: 900px){
  .status-percentage-img{
    width: 60%;
  }
  .status-percentage-title{
    font-size: 2.5vw;
  }
  .status-percentage-percentage{
    font-size: 4vw;
  }
}

// 320 < size < 720
@media all and (min-width: 320px) and (max-width: 720px){
  .status-percentage-img{
    width: 55%;
  }
  .status-percentage-title{
    font-size: 2.5vw;
  }
  .status-percentage-percentage{
    font-size: 5vw;
  }
}

// size < 320
@media all and (max-width: 320px){
  .status-percentage{
    display: none;
  }
}