.drbid-status-average-container-in {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  color: #707070;
  border-radius: 5px;
}

.drbid-status-average-image-container {
  flex-basis: 33%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drbid-status-average-image-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drbid-status-average-text-container {
  flex-basis: 67%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.drbid-status-average-text-price-container {
  width: 50%;
  height: 100%;
}

.drbid-status-average-text-volume-container {
  width: 50%;
  height: 100%;
}

.drbid-status-average-text-price-value {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.drbid-status-average-text-price-title {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.drbid-status-average-text-volume-value {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.drbid-status-average-text-volume-title {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// 1920 < size
@media all and (min-width: 1920px) {
  .drbid-status-average-text-price-value {
    font-size: 30px;
  }

  .drbid-status-average-text-price-title {
    font-size: 16px;
  }

  .drbid-status-average-text-volume-value {
    font-size: 30px;
  }

  .drbid-status-average-text-volume-title {
    font-size: 16px;
  }

}

// 1100 < size <= 1920
@media all and (min-width: 1100px) and (max-width: 1920px) {
  .drbid-status-average-text-price-value {
    font-size: 24px;
  }

  .drbid-status-average-text-price-title {
    font-size: 12px;
  }

  .drbid-status-average-text-volume-value {
    font-size: 24px;
  }

  .drbid-status-average-text-volume-title {
    font-size: 12px;
  }

}

// 720 < size <= 1100
@media all and (min-width: 720px) and (max-width: 1100px) {
  .drbid-status-average-text-price-container {
    width: 100%;
    height: 30%;
    margin-top: auto;
  }

  .drbid-status-average-text-volume-container {
    width: 100%;
    height: 30%;
  }

  .drbid-status-average-text-price-value {
    font-size: 24px;
  }

  .drbid-status-average-text-price-title {
    font-size: 12px;
  }

  .drbid-status-average-text-volume-value {
    font-size: 24px;
  }

  .drbid-status-average-text-volume-title {
    font-size: 12px;
  }

}

// 600 < size <= 720
@media all and (min-width: 600px) and (max-width: 720px) {
  .drbid-status-average-text-price-container {
    width: 50%;
    height: 100%;
  }

  .drbid-status-average-text-volume-container {
    width: 50%;
    height: 100%;
  }

  .drbid-status-average-text-price-value {
    font-size: 20px;
  }

  .drbid-status-average-text-price-title {
    font-size: 12px;
  }

  .drbid-status-average-text-volume-value {
    font-size: 20px;
  }

  .drbid-status-average-text-volume-title {
    font-size: 12px;
  }

}

// 320 < size <= 600
@media all and (min-width: 321px) and (max-width: 600px) {
  .drbid-status-average-image-container {
    flex-basis: 40%;
  }

  .drbid-status-average-text-container {
    flex-basis: 60%;
  }

  .drbid-status-average-text-price-container {
    width: 100%;
    height: 40%;
    margin-top: auto;
  }

  .drbid-status-average-text-volume-container {
    width: 100%;
    height: 40%;
  }

  .drbid-status-average-text-price-value {
    font-size: 16px;
  }

  .drbid-status-average-text-price-title {
    font-size: 12px;
  }

  .drbid-status-average-text-volume-value {
    font-size: 16px;
  }

  .drbid-status-average-text-volume-title {
    font-size: 12px;
  }

}

// size <= 320
@media all and (max-width: 320px) {
  .drbid-status-average-image-container {
    flex-basis: 33%;
  }

  .drbid-status-average-text-container {
    flex-basis: 67%;
  }

  .drbid-status-average-text-price-value {
    font-size: 20px;
  }

  .drbid-status-average-text-price-title {
    font-size: 12px;
  }

  .drbid-status-average-text-volume-value {
    font-size: 20px;
  }

  .drbid-status-average-text-volume-title {
    font-size: 12px;
  }

}