@import './average';

.drbid-status-container {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.drbid-status-participants-container-out {
  display: none;
}

.drbid-status-average-container-out {
  width: 92%;
  margin-left: 5%;
  margin-right: 3%;
  height: 100%;
}

// 1920 < size
@media all and (min-width: 1920px) {

}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {

}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {

}

// 320 < size <= 720
@media all and (min-width: 321px) and (max-width: 720px) {
  .drbid-status-average-container-out {
    width: 94%;
    margin-left: 6%;
    margin-right: 0%;
    height: 95%;
  }

}

// size <= 320
@media all and (max-width: 320px) {
  .drbid-status-average-container-out {
    margin-left: 4.5%;
    margin-right: 4.5%;
    width: 100%;
    height: 100%;
    // border: red solid 1px;
  }

}