.drbid-status-total-container-in {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  color: #707070;
  border-radius: 5px;
}

.drbid-status-total-image-container {
  flex-basis: 100%;
  height: 50%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drbid-status-total-image-img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.drbid-status-total-text-container {
  flex-basis: 100%;
  height: 50%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.drbid-status-total-text-price-container {
  width: 50%;
  height: 100%;
}

.drbid-status-total-text-volume-container {
  width: 50%;
  height: 100%;
}

.drbid-status-total-text-price-value {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
}

.drbid-status-total-text-price-title {
  width: 100%;
  height: 45%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.5rem;
}

.drbid-status-total-text-volume-value {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
}

.drbid-status-total-text-volume-title {
  width: 100%;
  height: 45%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.5rem;
}

// 1920 < size
@media all and (min-width: 1920px) {
  .drbid-status-total-text-price-value {
    font-size: 30px;
  }

  .drbid-status-total-text-price-title {
    font-size: 16px;
  }

  .drbid-status-total-text-volume-value {
    font-size: 30px;
  }

  .drbid-status-total-text-volume-title {
    font-size: 16px;
  }

}

// 1100 < size <= 1920
@media all and (min-width: 1100px) and (max-width: 1920px) {

}

// 720 < size <= 1100
@media all and (min-width: 720px) and (max-width: 1100px) {

}

// 600 < size <= 720
@media all and (min-width: 600px) and (max-width: 720px) {
  .drbid-status-total-text-price-container {
    width: 50%;
    height: 100%;
  }

  .drbid-status-total-text-volume-container {
    width: 50%;
    height: 100%;
  }

}

// 320 < size <= 600
@media all and (min-width: 321px) and (max-width: 600px) {

}

// size <= 320
@media all and (max-width: 320px) {
  .drbid-status-total-image-container {
    flex-basis: 33%;
    padding-top: 0%;
  }

  .drbid-status-total-text-container {
    flex-basis: 67%;
    padding-top: 3%;
    padding-bottom: 0%;
  }

}