.bidding-dr-addbid-container-in {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #707070;
  font-size: 1rem;
}

.bidding-dr-addbid-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  height: 60%;
}

.bidding-dr-addbid-space {
  width: 3%;
  color: white;
}

.bidding-dr-addbid-date {
  width: 20.5%;
  border: 0;
  outline: 0;
  color: #707070;
  display: flex;
  align-items: flex-end;
}

.bidding-dr-addbid-interval {
  width: 20.5%;
  border: 0;
  outline: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
}

.bidding-dr-addbid-value {
  width: 11%;
  border: 0;
  outline: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
}

.bidding-dr-addbid-price {
  width: 11%;
  border: 0;
  outline: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
}

.bidding-dr-addbid-total {
  width: 11%;
  border: 0;
  outline: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
}

.bidding-dr-addbid-button-container {
  width: 12%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bidding-dr-addbid-button-submit {
  cursor: pointer;
  width: 100%;
  height: 60%;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: white;
  font-size: 0.7rem;
  background-color: #2e7d32;
}

.bidding-dr-addbid-button-submit:disabled {
  cursor: default;
  color: #d1d1d1;
  background-color: #f1f2f1;
}

// 1920 < size
@media all and (min-width: 1920px) {

}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bidding-dr-addbid-container-in {
    font-size: 0.9rem;
  }
}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
  .bidding-dr-addbid-container-in {
    font-size: 0.8rem;
  }
}

// 320 < size <= 720
@media all and (min-width: 320px) and (max-width: 720px) {
  .bidding-dr-addbid-container-in {
    font-size: 0.8rem;
  }
}

// size <= 320
@media all and (max-width: 320px) {
  .bidding-dr-addbid-container-in {
    font-size: 0.8rem;
  }
}