@import './list';
@import './pageControl';

.bidding-dr-container-in {
  flex-basis: 95%;
  height: 100%;
  background-color: white;
  border: green solid 3px;
}

.bidding-dr-title-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d3161;
  font-weight: bold;
  font-size: 20px;
  // border: red solid 1px;
}

.bidding-dr-list-container-out {
  width: 100%;
  height: 80%;
  // border: red solid 1px;
}

.bidding-dr-pagecontrol-container-out {
  width: 100%;
  height: 10%;
  // border: red solid 1px;
}