.bidding-dr-list-container-in {
  margin-left: 3%;
  width: 94%;
  height: 100%;
  color: #707070;
  // border: black solid 1px;
}

.bidding-dr-list-title-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  // border: red solid 3px;
}

.bidding-dr-list-listitem-container-out {
  width: 100%;
  height: 85%;
  // overflow-x: auto;
  overflow-y: auto;
  // border: red solid 1px;
}

.bidding-dr-list-title-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 1vw;
  // border: blue solid 2px;
}

.bidding-dr-list-title-space1 {
  width: 2%;
  color: white;
}

.bidding-dr-list-title-date {
  width: 22.5%;
}

.bidding-dr-list-title-interval {
  width: 22.5%;
}

.bidding-dr-list-title-value {
  width: 12.5%;
}

.bidding-dr-list-title-price {
  width: 12.5%;
}

.bidding-dr-list-title-total {
  width: 12.5%;
}

.bidding-dr-list-title-space2 {
  width: 12.5%;
  color: white;
}

