.bidding-dr-list-container-in {
  margin-left: 3%;
  width: 94%;
  height: 100%;
  color: #707070;
}

.bidding-dr-list-title-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
}

.bidding-dr-list-listitem-container-out {
  width: 100%;
  height: 85%;
  overflow-y: auto;
}

.bidding-dr-list-title-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 1rem;
}

.bidding-dr-list-title-date {
  width: 22.5%;
}

.bidding-dr-list-title-interval {
  width: 22.5%;
}

.bidding-dr-list-title-value--aggr {
  width: 12.5%;
}

.bidding-dr-list-title-value--user {
  width: 18.5%;
}

.bidding-dr-list-title-price--aggr {
  width: 12.5%;
}

.bidding-dr-list-title-price--user {
  width: 18.5%;
}

.bidding-dr-list-title-total--aggr {
  width: 12.5%;
}

.bidding-dr-list-title-total--user {
  width: 18.5%;
}

.bidding-dr-list-title-space2--aggr {
  width: 12.5%;
  color: white;
}

.bidding-dr-list-title-space2--user {
  display: none;
}

// 1920 < size
@media all and (min-width: 1920px) {

}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {

}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
  .bidding-dr-list-title-item {
    font-size: 0.9rem;
  }
}

// 320 < size <= 720
@media all and (min-width: 320px) and (max-width: 720px) {
  .bidding-dr-list-title-item {
    font-size: 0.8rem;
  }
}

// size <= 320
@media all and (max-width: 320px) {
  .bidding-dr-list-title-item {
    font-size: 0.8rem;
  }

  .bidding-dr-list-title-container {
    height: 20%;
  }

  .bidding-dr-list-listitem-container-out {
    height: 80%;
  }

  .bidding-dr-list-title-space1 {
    display: none;
  }

  .bidding-dr-list-title-date {
    width: 35%;
  }

  .bidding-dr-list-title-interval {
    width: 35%;
  }

  .bidding-dr-list-title-value {
    width: 25%;
  }

  .bidding-dr-list-title-price {
    display: none;
  }

  .bidding-dr-list-title-total {
    display: none;
  }

  .bidding-dr-list-title-space2 {
    width: 10%;
    color: black;
  }

}