@import '~normalize.css';

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
