.bidding-modebutton-container-in {
  width: 97%;
  height: 100%;
  margin-left: 3%;
  display: flex;
  align-items: center;
  border: blue solid 1px;
}

.bidding-modebutton-button {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0.5%;
  outline: 0;
  color: #707070;
  background-color: white;
  border: #e3e3e3 solid 1px;
  border-radius: 5px;
}

.bidding-modebutton-button:active {
  background-color: #ededed;
}

.bidding-modebutton-button:disabled {
  color: white;
  background-color: #ffa000;
  cursor: default;
}

.bidding-modebutton-button-green {
  margin-right: 1%;
}