.bidding-modebutton-container-in {
  width: 20%;
  height: 100%;
  margin-left: 2.35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: blue solid 1px;
}

.bidding-modebutton-button {
  cursor: pointer;
  width: 48%;
  height: 65%;
  padding: 0.5%;
  outline: 0;
  color: #707070;
  background-color: white;
  border: #e3e3e3 solid 1px;
  border-radius: 5px;
}

.bidding-modebutton-button:active {
  background-color: #ededed;
}

.bidding-modebutton-button-green:disabled {
  color: white;
  background-color: #ffa000;
  cursor: default;
}

.bidding-modebutton-button-need:disabled {
  color: white;
  background-color: #2d3161;
  cursor: default;
}


.bidding-modebutton-button-green {
  margin-right: 1%;
}

// 1920 < size
@media all and (min-width: 1920px) {

}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {

}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {

}

// 320 < size <= 720
@media all and (min-width: 320px) and (max-width: 720px) {

}

// size <= 320
@media all and (max-width: 320px) {
  .bidding-modebutton-container-in {
    width: 90%;
    height: 100%;
    margin-left: 5%;
  }
  .bidding-modebutton-button {
    width: 49%;
    height: 70%;
    // border: red solid 1px;
  }
  .bidding-modebutton-button-need {
    margin-left: 1%;
  }
}