.bidding-submit-addbid-container-in {
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  background-color: white;
  // border: red solid 3px;
  input[type="date"]::-webkit-calendar-picker-indicator {
    // border: red solid 1px;
    font-size: 1.8vh;
  }
}

.bidding-submit-addbid-form {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-date {
  cursor: pointer;
  margin: 1%;
  width: 18%;
  height: 70%;
  outline: 0;
  border: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-date:hover {
  border-bottom: #707070 solid 1px;
}

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
// }

// .bidding-submit-addbid-form-date:hover, :active {
//   cursor: pointer;
//   border-bottom: #707070 solid 1px;
// }

.bidding-submit-addbid-form-select {
  cursor: pointer;
  margin: 1%;
  width: 18%;
  height: 70%;
  outline: 0;
  border: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-select:hover {
  border-bottom: #707070 solid 1px;
}

// .bidding-submit-addbid-form-select:hover, :active {
//   cursor: pointer;
//   border-bottom: #707070 solid 1px;
// }

.bidding-submit-addbid-form-volume {
  margin: 1%;
  width: 15%;
  height: 70%;
  outline: 0;
  border: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-volume:hover, :focus {
  border-bottom: #707070 solid 1px;
}

.bidding-submit-addbid-form-price {
  margin: 1%;
  width: 16%;
  height: 70%;
  outline: 0;
  border: 0;
  color: #707070;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-price:hover, :focus {
  border-bottom: #707070 solid 1px;
}

.bidding-submit-addbid-form-total {
  margin: 1%;
  width: 13%;
  height: 70%;
  outline: 0;
  border: 0;
  color: #707070;
  background-color: white;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-submit {
  // margin: 0.5%;
  cursor: pointer;
  width: 5%;
  height: 60%;
  // font-size: 5px;
  // font-weight: bold;
  // border-radius: 100%;
  border: 0;
  outline: 0;
  // color: #707070;
  background-color: transparent;
  // border: green solid 1px;
}

.bidding-submit-addbid-form-submit-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // border: red solid 1px;
}

.bidding-submit-addbid-form-submit:disabled {
  display: none;
}

// .bidding-submit-addbid-form-submit:active {
//   color: white;
//   background-color: #2e7e32;
// }

.bidding-submit-addbid-form-reset {
  // margin: 0.5%;
  cursor: pointer;
  width: 5%;
  height: 60%;
  // font-size: 5px;
  // font-weight: bold;
  // border-radius: 100%;
  border: 0;
  outline: 0;
  // color: #707070;
  background-color: transparent;
  // text-align: center;
  // font-size: 0.1vw;
  // border: red solid 1px;
}

.bidding-submit-addbid-form-reset-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bidding-submit-addbid-form-reset:disabled {
  display: none;
}

// .bidding-submit-addbid-form-reset:active {
//   color: white;
//   background-color: #d32f2f;
// }

// 1920 < size
@media all and (min-width: 1920px) {

}

// 1280 < size <= 1920
@media all and (min-width: 1280px) and (max-width: 1920px) {

}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {

}

// 320 < size <= 720
@media all and (min-width: 320px) and (max-width: 720px) {

}

// size <= 320
@media all and (max-width: 320px) {
  .bidding-submit-addbid-form {
    // margin-left: 0%;
    // margin-right: 0%;
    // width: 100%;
  }
}