.bidding-submit-addbid-container-in {
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  border: red solid 3px;
}

.bidding-submit-addbid-form {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // border: green solid 3px;
}

.bidding-submit-addbid-form-date {
  width: 20%;
  height: 100%;
}

.bidding-submit-addbid-form-select {
  width: 20%;
  height: 100%;
}

.bidding-submit-addbid-form-number {
  width: 20%;
  height: 100%;
}

.bidding-submit-addbid-form-submit {
  width: 10%;
  height: 100%;
}

.bidding-submit-addbid-form-reset {
  width: 10%;
  height: 100%;
}