.bidding-submit-addbid-container-in {
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  background-color: white;
  // border: red solid 3px;
}

.bidding-submit-addbid-form {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // border: green solid 3px;
}

.bidding-submit-addbid-form-date {
  margin: 1%;
  width: 18%;
  height: 70%;
  outline: 0;
  border: 0;
  border-bottom: #d1d2d1 solid 1px;
}

// .bidding-submit-addbid-form-date:hover, :active {
//   cursor: pointer;
//   border-bottom: #707070 solid 1px;
// }

.bidding-submit-addbid-form-select {
  margin: 1%;
  width: 18%;
  height: 70%;
  outline: 0;
  border: 0;
  border-bottom: #d1d2d1 solid 1px;
}

// .bidding-submit-addbid-form-select:hover, :active {
//   cursor: pointer;
//   border-bottom: #707070 solid 1px;
// }

.bidding-submit-addbid-form-volume {
  margin: 1%;
  width: 15%;
  height: 70%;
  outline: 0;
  border: 0;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
}

.bidding-submit-addbid-form-volume:hover, :focus {
  border-bottom: #707070 solid 1px;
}

.bidding-submit-addbid-form-price {
  margin: 1%;
  width: 16%;
  height: 70%;
  outline: 0;
  border: 0;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
}

.bidding-submit-addbid-form-price:hover, :focus {
  border-bottom: #707070 solid 1px;
}

.bidding-submit-addbid-form-total {
  margin: 1%;
  width: 15%;
  height: 70%;
  outline: 0;
  border: 0;
  border-bottom: #d1d2d1 solid 1px;
  text-align: right;
}

.bidding-submit-addbid-form-submit {
  // margin: 0.5%;
  width: 4%;
  height: 70%;
  font-size: 3px;
}

.bidding-submit-addbid-form-reset {
  // margin: 0.5%;
  width: 4%;
  height: 70%;
  font-size: 3px;
}