@import './list';
@import './typeButton';
@import './pageControl';
@import './addBid';
@import './listItem';

.bidding-submit-container-in {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: green solid 3px;
}

.bidding-submit-modebutton-container-out {
  flex-basis: 100%;
  height: 10%;
  // border: blue solid 2px;
}

.bidding-submit-list-container-out {
  flex-basis: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  // border: blue solid 2px;
}

.bidding-submit-addbid-container-out {
  flex-basis: 100%;
  height: 8%;
  margin-top: 2%;
  // border: blue solid 2px;
}

.bidding-submit-pagecontrol-container-out {
  flex-basis: 100%;
  height: 10%;
  // border: pink solid 2px;
}