.bidding-submit-infobox-container-in {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  // border: red solid 1px;
}

.bidding-submit-infobox-open-btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  // border: red solid 1px;
}

.bidding-submit-infobox-open-btn-img {
  width: 100%;
  // height: 100%;
  object-fit: contain;
  // border: red solid 1px;
}