.bidding-submit-modebutton-container-in {
  width: 100%;
  height: 100%;
  // border: red solid 3px;
}

.bidding-submit-modebutton-button {
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 50%;
  height: 100%;
  outline: 0;
  border: 0;
  font-weight: bold;
  color: #707070;
  background-color: #d8d8d8;
}

.bidding-submit-modebutton-button:disabled {
  cursor: default;
  background-color: white;
}

.bidding-submit-modebutton-button-buy:disabled {
  color: #d32f2f;
}

.bidding-submit-modebutton-button-sell:disabled {
  color: #2e7d32;
}