@import "time";
@import "title";
@import "link";
@import "content";
@import "user";

.navbar {
  color: #fff;
  background-color: #39625e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar--Aggregator{
  background-color: #464147;
}

// 1280 < size
@media all and (min-width: 1280px) {
  .navbar {
    flex-direction: column;
    width: 262px;
    font-size: 27px;
    padding: 32px 0px 54px 0px;
  }
}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
  .navbar {
    flex-direction: column;
    width: 175px;
    font-size: 18px;
    padding: 22px 0px 36px 0px;
  }
}

// 320 < size <= 720px - horizen layout
@media all and (min-width: 320px) and (max-width: 720px) {
  .navbar {
    flex-direction: row;
    width: 100%;
    height: 64px;
    font-size: 20px;
    padding: 0px 24px;
  }
}

// size <= 320px
@media all and (max-width: 320px) {
  .navbar {
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 0px 15px;
  }
}
