.navbar-time {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f1f2f1;
}

// 1280 < size
@media all and (min-width: 1280px) {
  .navbar-time {
    font-size: 20px;
  }
}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
  .navbar-time {
    font-size: 16px;
  }
}

@media all and (min-width: 720px) and (max-height:900px){
  .navbar-time {
    height: 7%;
  }
}

// size <= 720px - horizen layout
@media all and (max-width: 720px) {
  .navbar-time {
    display: none;
  }
}
