.navbar-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 30%;
  .navbar-avatar {
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 5%;
  }
  .navbar-username-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-username {
    text-align: center;
  }
  .navbar-star{
    color: #ffa02a;
  }
}

// 1280 < size
@media all and (min-width: 1280px) {
  .navbar-avatar {
    width: 200px;
    height: 200px;
  }
  .navbar-username {
    font-size: 20px;
  }
}

// 720 < size <= 1280
@media all and (min-width: 720px) and (max-width: 1280px) {
  .navbar-avatar {
    width: 133px;
    height: 133px;
  }
  .navbar-username {
    font-size: 16px;
  }
}

// size <= 720px
@media all and (max-width: 720px) {
  .navbar-user {
    display: none;
  }
}
